---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<p>
				I am a software developer and I try to post things worth sharing on my
				<a href="/blog">blog</a>. You can see more about my work
				<a href="https://resume.jasonduffy.com">here</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>
